@model IEnumerable<mis42p2rd484215.Models.VetPets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pet.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.vetLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.vetLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vetPetsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.vetPetsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vetPetsID })
        </td>
    </tr>
}

</table>
