@model IEnumerable<mis42p2rd484215.Models.Petts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ownerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ownerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientSince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientSince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pettsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.pettsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pettsID })
        </td>
    </tr>
}

</table>
