@model IEnumerable<mis42p2rd484215.Models.Vet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pets.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vetLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vetFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pets.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vetLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vetFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.vetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vetID })
        </td>
    </tr>
}

</table>
